SELENIUM_URL="http://localhost:4444/wd/hub"
# Browser used to run tests - firefox|chrome
SELENIUM_BROWSER=firefox
# Run Selenium in a container (false) or on the local machine (true)
SELENIUM_LOCAL=false
# Run Selenium headless.  Set to false to see the tests run in a the browser
SELENIUM_HEADLESS=true
# debug mode waits for user entry on OTP screens so you can enter OTP yourself
DEBUG_MODE=false
# accessibility checks
ACCESSIBILITY_CHECKS=false
IDP_URL="https://front.build.auth.ida.digital.cabinet-office.gov.uk/"
RP_URL="https://acceptance-test-rp-build.build.stubs.account.gov.uk/"
AM_URL="https://account-management.build.auth.ida.digital.cabinet-office.gov.uk/"
DOC_APP_URL="https://acceptance-test-rp-build.build.stubs.account.gov.uk/"

RP_CLIENT_ID=
OP_URL=
RP_SIGNING_KEY=

ACCOUNT_INTERVENTION_REMOVED_EMAIL_1=
ACCOUNT_RECOVERY_USER_AUTH_APP_SECRET=
DOC_APP_STUB_URL=
EMAIL_CODE_LOCK_TEST_USER_EMAIL=
INCORRECT_EMAIL_OTP_FOR_PW_RESET_EMAIL=
IPN1_NEW_USER_EMAIL=
IPN2_NEW_USER_EMAIL=
IPN3_NEW_USER_EMAIL=
IPN4_EXISTING_USER_EMAIL=
IPN4_EXISTING_USER_PASSWORD=
IPN4_EXISTING_USER_PHONE=
PASSWORD_RESET_AUTH_APP_USER_1=
PASSWORD_RESET_SMS_USER_1=
PASSWORD_RESET_SMS_USER_2=
PERMANENTLY_LOCKED_ACCOUNT_EMAIL_1=
PERMANENTLY_LOCKED_ACCOUNT_EMAIL_2=
PERMANENTLY_LOCKED_ACCOUNT_EMAIL_3=
PERMANENTLY_LOCKED_ACCOUNT_EMAIL_4=
PERMANENTLY_LOCKED_ACCOUNT_EMAIL_4=
PERMANENTLY_LOCKED_ACCOUNT_EMAIL_5=
PERMANENTLY_LOCKED_ACCOUNT_EMAIL_6=
PERMANENTLY_LOCKED_ACCOUNT_EMAIL_7=
PHONE_CODE_LOCK_TEST_USER_EMAIL=
PW_RESET_TEST_USER_PHONE=
REQ_RESET_PW_CURRENT_PW=
REQ_RESET_PW_USER_EMAIL=
REQ_RESET_PW_USER_EMAIL_2=
RESEND_CODE_TEST_USER_EMAIL=
RESEND_CODE_TEST_USER_PASSWORD=
RESEND_CODE_TEST_USER_PHONE=
RESET_PW_CURRENT_PW=
RESET_PW_USER_EMAIL=
RESET_PW_USER_EMAIL_2=
RESET_PW_USER_PHONE=
SECTOR_HOST=
TEMPORARILY_SUSPENDED_ACCOUNT_EMAIL_1=
TEMPORARILY_SUSPENDED_ACCOUNT_EMAIL_2=
TEMPORARILY_SUSPENDED_ACCOUNT_EMAIL_3=
TEMPORARILY_SUSPENDED_ACCOUNT_EMAIL_4=
TERMS_AND_CONDITIONS_TEST_USER_EMAIL=
TERMS_AND_CONDITIONS_TEST_USER_PASSWORD=
TERMS_AND_CONDITIONS_TEST_USER_PHONE=
TEST_USER_2_EMAIL=
TEST_USER_3_EMAIL=
TEST_USER_ACCOUNT_RECOVERY_EMAIL_1=
TEST_USER_ACCOUNT_RECOVERY_EMAIL_2=
TEST_USER_ACCOUNT_RECOVERY_EMAIL_3=
TEST_USER_ACCOUNT_RECOVERY_EMAIL_4=
TEST_USER_ACCOUNT_RECOVERY_EMAIL_5=
TEST_USER_ACCOUNT_RECOVERY_EMAIL_6=
TEST_USER_AUTH_APP_EMAIL=
TEST_USER_EMAIL=
TEST_USER_EMAIL_CODE=
TEST_USER_INTERNATIONAL_PHONE_NUMBER=
TEST_USER_LATEST_TERMS_AND_CONDITIONS_VERSION=
TEST_USER_NEW_EMAIL=
TEST_USER_NEW_PASSWORD=
TEST_USER_PASSWORD=
TEST_USER_PASSWORD_RESET_ACCOUNT_EMAIL_1=
TEST_USER_PASSWORD_RESET_ACCOUNT_EMAIL_2=
TEST_USER_PASSWORD_RESET_ACCOUNT_EMAIL_3=
TEST_USER_PASSWORD_RESET_ACCOUNT_EMAIL_4=
TEST_USER_PASSWORD_RESET_ACCOUNT_EMAIL_5=
TEST_USER_PASSWORD_RESET_ACCOUNT_EMAIL_6=
TEST_USER_PASSWORD_RESET_ACCOUNT_EMAIL_7=
TEST_USER_PHONE_CODE=
TEST_USER_PHONE_NUMBER=
TEST_USER_REAUTH_AUTH_APP_1=
TEST_USER_REAUTH_AUTH_APP_2=
TEST_USER_REAUTH_SMS_1=
TEST_USER_REAUTH_SMS_2=
TEST_USER_REAUTH_SMS_3=
TEST_USER_REAUTH_SMS_4=
TEST_USER_REAUTH_SMS_5=
TEST_USER_STATE_PRESERVATION_EMAIL1=
TEST_USER_STATE_PRESERVATION_EMAIL2=
TOO_MANY_EMAIL_OTP_REQUESTS_FOR_PW_RESET_EMAIL=
TOP_100K_PASSWORD=