name: Build and Push Tests Secure Pipeline

env:
  AWS_REGION: eu-west-2
  SELENIUM_BASE: selenium/standalone-chromium:132.0

on:
  push:
    branches:
      - main

concurrency:
  group: "build-and-push-tests-sp"
  cancel-in-progress: false

jobs:
  build:
    runs-on: ubuntu-latest
    timeout-minutes: 60
    permissions:
      id-token: write
      contents: read
    steps:
      - name: Checkout
        uses: actions/checkout@8e8c483db84b4bee98b60c0593521ed34d9990e8 # v6.0.1

      - name: Set up AWS credentials
        uses: aws-actions/configure-aws-credentials@61815dcd50bd041e203e49132bacad1fd04d2708 # v5.1.1
        with:
          role-to-assume: ${{ secrets.GHA_DEPLOYER_ROLE_NEW_BUILD }}
          aws-region: ${{ env.AWS_REGION }}

      - name: Login to Amazon ECR
        id: login-ecr
        uses: aws-actions/amazon-ecr-login@062b18b96a7aff071d4dc91bc00c4c1a7945b076 # v2.0.1

      - name: Install Cosign
        uses: sigstore/cosign-installer@faadad0cce49287aee09b3a48701e75088a2c6ad # v4.0.0
        with:
          cosign-release: "v2.5.3"

      - name: Set up Docker Buildx
        uses: docker/setup-buildx-action@e468171a9de216ec08956ac3ada2f0791b6bd435 # v3.11.1

      - name: Build and push
        uses: docker/build-push-action@263435318d21b8e681c14492fe198d362a7d2c83 # v6.18.0
        id: build-and-push
        with:
          context: .
          push: true
          target: auth-ui
          build-args: |
            SELENIUM_BASE=${{ env.SELENIUM_BASE }}
          tags: "${{ steps.login-ecr.outputs.registry }}/${{ secrets.ACCEPTANCE_ECR_REPO_NEW_BUILD }}:latest"
          cache-from: type=gha
          cache-to: type=gha,mode=max

      - name: Sign image with Cosign
        env:
          TAGS: "${{ steps.login-ecr.outputs.registry }}/${{ secrets.ACCEPTANCE_ECR_REPO_NEW_BUILD }}:latest"
          CONTAINER_SIGN_KMS_KEY: ${{ secrets.CONTAINER_SIGN_KMS_KEY }}
          DIGEST: ${{ steps.build-and-push.outputs.digest }}
        run: |
          cosign sign --yes \
            --key awskms:///${CONTAINER_SIGN_KMS_KEY} \
            "${{ steps.login-ecr.outputs.registry }}/${{ secrets.ACCEPTANCE_ECR_REPO_NEW_BUILD }}:latest@${DIGEST}"
