name: Build and Push Acceptance Tests

env:
  AWS_REGION: eu-west-2
  SELENIUM_BASE: selenium/standalone-chromium:132.0

#Role to Assume is  dev-auth-deploy-pipeline githubaction Role
#ECR repo is acceptance test ECR repo

on:
  push:
    branches:
      - main

concurrency:
  group: "build-and-push-tests"
  cancel-in-progress: false

jobs:
  build:
    runs-on: ubuntu-latest
    timeout-minutes: 60
    permissions:
      id-token: write
      contents: read
    steps:
      - name: Checkout
        uses: actions/checkout@de0fac2e4500dabe0009e67214ff5f5447ce83dd # v6.0.2

      - name: Set up AWS credentials
        uses: aws-actions/configure-aws-credentials@61815dcd50bd041e203e49132bacad1fd04d2708 # v5.1.1
        with:
          role-to-assume: ${{ secrets.GHA_ROLE }}
          aws-region: ${{ env.AWS_REGION }}

      - name: Login to Amazon ECR
        id: login-ecr
        uses: aws-actions/amazon-ecr-login@062b18b96a7aff071d4dc91bc00c4c1a7945b076 # v2.0.1

      - name: Set up Docker Buildx
        uses: docker/setup-buildx-action@8d2750c68a42422c14e847fe6c8ac0403b4cbd6f # v3.12.0

      - name: Build and push
        uses: docker/build-push-action@263435318d21b8e681c14492fe198d362a7d2c83 # v6.18.0
        id: build-and-push
        with:
          context: .
          push: true
          target: auth-api
          build-args: |
            SELENIUM_BASE=${{ env.SELENIUM_BASE }}
          tags: "${{ steps.login-ecr.outputs.registry }}/${{ secrets.ACCEPTANCE_ECR_REPO }}:latest"
          cache-from: type=gha
          cache-to: type=gha,mode=max
