name: Build and Push to API DEV account

env:
  AWS_REGION: eu-west-2
  DEV_GHA_DEPLOYER_ROLE: arn:aws:iam::653994557586:role/dev-auth-deploy-pipeline-GitHubActionsRole-QrtGginNnjDD
  DEV_ACCEPTANCE_ECR_REPO: acceptance-test-dev-testrunnerimagerepository-yh8assqv55do
  SELENIUM_BASE_CHROMIUM: selenium/standalone-chromium:132.0
  SELENIUM_BASE_FIREFOX: selenium/standalone-firefox:132.0

on:
  workflow_dispatch:

concurrency:
  group: "build-and-push-tests-dev"
  cancel-in-progress: false

jobs:
  build-push-chromium:
    runs-on: ubuntu-latest
    timeout-minutes: 60
    permissions:
      id-token: write
      contents: read
    steps:
      - name: Checkout
        uses: actions/checkout@de0fac2e4500dabe0009e67214ff5f5447ce83dd # v6.0.2

      - name: Set up AWS credentials
        uses: aws-actions/configure-aws-credentials@61815dcd50bd041e203e49132bacad1fd04d2708 # v5.1.1
        with:
          role-to-assume: ${{ env.DEV_GHA_DEPLOYER_ROLE }}
          aws-region: ${{ env.AWS_REGION }}

      - name: Login to Amazon ECR
        id: login-ecr
        uses: aws-actions/amazon-ecr-login@062b18b96a7aff071d4dc91bc00c4c1a7945b076 # v2.0.1

      - name: Set up Docker Buildx
        uses: docker/setup-buildx-action@8d2750c68a42422c14e847fe6c8ac0403b4cbd6f # v3.12.0

      - name: Build and push (non-sp)
        uses: docker/build-push-action@263435318d21b8e681c14492fe198d362a7d2c83 # v6.18.0
        with:
          context: .
          push: true
          target: auth-api
          build-args: |
            SELENIUM_BASE=${{ env.SELENIUM_BASE_CHROMIUM }}
          tags: |
            "${{ steps.login-ecr.outputs.registry }}/${{ env.DEV_ACCEPTANCE_ECR_REPO }}:latest"
            "${{ steps.login-ecr.outputs.registry }}/${{ env.DEV_ACCEPTANCE_ECR_REPO }}:latest-chromium"

      - name: Build and push (sp)
        uses: docker/build-push-action@263435318d21b8e681c14492fe198d362a7d2c83 # v6.18.0
        with:
          context: .
          push: true
          target: auth-ui
          build-args: |
            SELENIUM_BASE=${{ env.SELENIUM_BASE_CHROMIUM }}
          tags: |
            "${{ steps.login-ecr.outputs.registry }}/${{ env.DEV_ACCEPTANCE_ECR_REPO }}:sp-latest"
            "${{ steps.login-ecr.outputs.registry }}/${{ env.DEV_ACCEPTANCE_ECR_REPO }}:sp-latest-chromium"

  build-push-firefox:
    runs-on: ubuntu-latest
    timeout-minutes: 60
    permissions:
      id-token: write
      contents: read
    steps:
      - name: Checkout
        uses: actions/checkout@de0fac2e4500dabe0009e67214ff5f5447ce83dd # v6.0.2

      - name: Set up AWS credentials
        uses: aws-actions/configure-aws-credentials@61815dcd50bd041e203e49132bacad1fd04d2708 # v5.1.1
        with:
          role-to-assume: ${{ env.DEV_GHA_DEPLOYER_ROLE }}
          aws-region: ${{ env.AWS_REGION }}

      - name: Login to Amazon ECR
        id: login-ecr
        uses: aws-actions/amazon-ecr-login@062b18b96a7aff071d4dc91bc00c4c1a7945b076 # v2.0.1

      - name: Set up Docker Buildx
        uses: docker/setup-buildx-action@8d2750c68a42422c14e847fe6c8ac0403b4cbd6f # v3.12.0

      - name: Build and push API tests (non-sp)
        uses: docker/build-push-action@263435318d21b8e681c14492fe198d362a7d2c83 # v6.18.0
        with:
          context: .
          push: true
          target: auth-api
          build-args: |
            SELENIUM_BASE=${{ env.SELENIUM_BASE_FIREFOX }}
          tags: "${{ steps.login-ecr.outputs.registry }}/${{ env.DEV_ACCEPTANCE_ECR_REPO }}:latest-firefox"

      - name: Build and push UI tests (sp)
        uses: docker/build-push-action@263435318d21b8e681c14492fe198d362a7d2c83 # v6.18.0
        with:
          context: .
          push: true
          target: auth-ui
          build-args: |
            SELENIUM_BASE=${{ env.SELENIUM_BASE_FIREFOX }}
          tags: "${{ steps.login-ecr.outputs.registry }}/${{ env.DEV_ACCEPTANCE_ECR_REPO }}:sp-latest-firefox"
